@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;


<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>Student List</h3>
    </div>
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_Student" asp-controller="LOC_Student" asp-action="LOC_StudentAdd">
                <input type="button" class="btn btn-success" value="Add New Record" />
            </a>
        </div>
        <div class="search-field col-xl-4 ms-lg-auto">
            <form class="d-flex">
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">StudentID</th>
                <th scope="col">BranchID</th>
                <th scope="col">CityID</th>
                <th scope="col">StudentName</th>
                <th scope="col">MobileNoStudent</th>
                <th scope="col">Email</th>
                <th scope="col">MobileNoFather</th>
                <th scope="col">Address</th>
                <th scope="col">BirthDate<th>
                <th scope="col">Age</th>
                <th scope="col">IsActive</th>
                <th scope="col">Gender</th>
                <th scope="col">Password</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["StudentID"]</td>
                    <td>@dr["BranchID"]</td>
                    <td>@dr["CityID"]</td>
                    <td>@dr["StudentName"]</td>
                    <td>@dr["MobileNoStudent"]</td>
                    <td>@dr["Email"]</td>
                    <td>@dr["MobileNoFather"]</td>
                    <td>@dr["Address"]</td>
                    <td>@dr["BirthDate"]</td>
                    <td>@dr["Age"]</td>
                    <td>@dr["IsActive"]</td>
                    <td>@dr["Gender"]</td>
                    <td>@dr["Password"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="d-flex">
                            <div class="me-2">
                                <form>
                                    <input type="hidden" value="@Convert.ToInt32(dr["StudentID"])" name="StateID" />
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </div>
                            <div class="ms-2">
                                <form asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateAdd">
                                    <input type="hidden" value="@Convert.ToInt32(dr["StudentID"])" name="StateID" />
                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





