@{
    Layout="~/Views/shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;



<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>Country List</h3>
    </div>
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                <input type="button" class="btn btn-success" value="Add New Record"/>
            </a>
        </div>
        <div class="search-field col-xl-4 ms-lg-auto d-flex">
            <form class="d-flex" method="get" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountrySearchByName">
                <div class="me-3"><input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" runat="server" name="CountryName" /></div>
                <div><button type="submit" class="btn btn-outline-success" value="Search" runat="server">Search</button></div>
            </form>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">CountryID</th>
                <th scope="col">CountryName</th>
                <th scope="col">CountryCode</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["CountryID"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@dr["CountryCode"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="d-flex">
                            <div class="me-2">
                                <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </div>
                            <div class="ms-2">
                                <form asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*@section Scripts
{
    <script>
        function delete(){
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}*@


