@{
    Layout="~/Views/shared/_Layout.cshtml";
    LOC_CountryFilterModel filterModel = new LOC_CountryFilterModel();
}

@using System.Data;
@model DataTable;
@using Admin_Panel.Areas.LOC_Country.Models;



<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>Country List</h3>
    </div>
    <form class="row">
        <div><h2>Filter</h2></div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-6">
            <lable class="form-label">Select CountryName</lable>
            <input type="text" placeholder="Select CountryName" asp-for="@filterModel.CountryName" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col-6">
            <lable class="form-label">Select CountryCode</lable>
            <input type="text" placeholder="Select CountryCode" asp-for="@filterModel.CountryCode" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col my-2">
            <button type="submit" class="btn btn-primary" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">
                Search
            </button>
        </div>
    </form>
    <form>
        <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
    </form>
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                <input type="button" class="btn btn-success" value="Add New Record"/>
            </a>
        </div>
        <div class="pull-right col-xl-4 ms-lg-auto">
            <div id="sample_1_filter" class="dataTables_filter">
                <input type="text" class="form-control input-group-sm input-small input-inline" id="sample_1" placeholder="Search" aria-controls="sample_1">
            </div>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">CountryID</th>
                <th scope="col">CountryName</th>
                <th scope="col">CountryCode</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach(DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["CountryID"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@dr["CountryCode"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="d-flex">
                            <div class="me-2">
                                <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </div>
                            <div class="ms-2">
                                <form asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}


