@{
    Layout = "~/Views/shared/_Layout.cshtml";
    LOC_CityFilterModel FilterModel = new LOC_CityFilterModel();
}

@using System.Data;
@model DataTable;
@using Admin_Panel.Areas.LOC_City.Models


<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>City List</h3>
    </div>
    <div class="container-fluid border border-dark p-4">
        <form class="row">
            <div>
                <h2>Filter</h2>
            </div>
            <div class="col-3">
                <select class="form-control" asp-for="@FilterModel.CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnOnStateChange();">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-control" asp-for="@FilterModel.StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" asp-for="@FilterModel.CityName" placeholder="CityName" />
            </div>
            <div class="col-3">
                <input type="text" class="form-control" asp-for="@FilterModel.CityCode" placeholder="CityCode" />
            </div>
            <div class="col my-2">
                <button class="btn btn-success" type="submit" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityFilter">Search</button>
            </div>
        </form>
        <form>
            <button class="btn btn-danger" type="submit" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
        </form>
    </div>
    <br/>
    <br />
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd">
                <input type="button" class="btn btn-success" value="Add New Record" />
            </a>
        </div>
        <div class="pull-right col-xl-4 ms-lg-auto">
            <div id="sample_1_filter" class="dataTables_filter">
                <input type="text" class="form-control input-group-sm input-small input-inline" id="sample_1" placeholder="Search" aria-controls="sample_1">
            </div>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">CityID</th>
                <th scope="col">CityName</th>
                <th scope="col">CityCode</th>
                <th scope="col">CountryName</th>
                <th scope="col">StateName</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["CityID"]</td>
                    <td>@dr["CityName"]</td>
                    <td>@dr["CityCode"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@dr["StateName"]</td>
                    <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="d-flex">
                            <div class="me-2">
                                <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityDelete">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </div>
                            <div class="ms-2">
                                <form asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fnOnStateChange() {
            console.log("h");
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("LOC_CityFilter", "LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}



