@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;


<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>City List</h3>
    </div>
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd">
                <input type="button" class="btn btn-success" value="Add New Record" />
            </a>
        </div>
        <div class="search-field col-xl-4 ms-lg-auto">
            <form class="d-flex">
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">CityID</th>
                <th scope="col">CityName</th>
                <th scope="col">CityCode</th>
                <th scope="col">CountryName</th>
                <th scope="col">StateName</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["CityID"]</td>
                    <td>@dr["CityName"]</td>
                    <td>@dr["CityCode"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@dr["StateName"]</td>
                    <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <div class="d-flex">
                            <div class="me-2">
                                <form asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityDelete">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                </form>
                            </div>
                            <div class="ms-2">
                                <form asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd">
                                    <input type="hidden" value="@Convert.ToInt32(dr["CityID"])" name="CityID" />
                                    <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



